<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>grocer_store.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE7D33C3299A5BC9003158E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7D33D9299A5BCA003158E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7D33E3299A5BCB003158E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
